<!DOCTYPE html>
<html>
<head>
    {% assets "css" %}
       <link type="text/css" href="{{ ASSET_URL }}" rel="stylesheet" media="all" />
    {% endassets %}
</head>
<body>
    <h2 style="float:right">
        {% if current_user.is_authenticated %}
            Hello {{ current_user.get_name()|polite }}
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </h2>
    <h1>List of Developers</h1>
    <table>
        <tr><th>Name</th><th>Cell</th></tr>
        {% if developers %}
            {% for developer in developers %}
            <tr>
                <td><a href="{{ url_for('developer', name=developer['name']) }}">{{developer['name']}}</a></td>
                <td>
                    {{developer['cell']}} 
                    {{'(The Best)' if developer['cell'] is is_cellA }}
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr colspan="2">No developers</tr>
        {% endif %}
    </table>

    <form method="get" action="{{ url_for('developer') }}">
        <input type="submit" name="Add New" value="Add New">
    </form>
    <footer>Version {{ get_version() }}</footer>
</body>
</html>
